asttokens==2.0.5
backcall==0.2.0
boto==2.49.0
debugpy==1.6.0
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
ipykernel==6.13.0
ipython==8.4.0
jedi==0.18.1
joblib==1.1.0
jupyter-client==7.3.1
jupyter-core==4.10.0
lit==14.0.0
matplotlib-inline==0.1.3
nest-asyncio==1.5.5
numpy==1.22.3
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.29
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==5.3.1
pyzmq==23.1.0
scikit-learn==1.1.1
scipy==1.8.0
six==1.16.0
stack-data==0.2.0
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
wcwidth==0.2.5
wllvm==1.3.1
z3==0.2.0
z3-solver==4.8.17.0